<!DOCTYPE html>
<html>
  <head>
    <title>TtsSocial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="<%= root_path %>">TTS Social</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Create a Tweet", new_tweet_path %></li>       
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Link</a></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <% if !current_user.avatar.blank?%>
              <%= image_tag(current_user.avatar.url, size: "25x25") %>
            <% end %>
            @<%= current_user.username %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit Profile",edit_user_registration_path %> </li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
            </ul>
          </li>
        <% else %>
              <li><%= link_to "Login",  new_user_session_path %> </li>
              <li><%= link_to "Sign Up", new_user_registration_path %> </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="container">
      <div class="row">
      <div class="col-sm">
        <div class="media">
      <a href="https://www.nbcnews.com/health/health-news/live-blog/2020-05-14-coronavirus-news-n1206776"><img src="https://media4.s-nbcnews.com/j/newscms/2020_20/3349776/200514-germany-testing-mn-1140_1ae0df1d36f4b83612334554b87c5435.fit-1000w.JPG" class="align-self-center mr-3"   alt="..."></a>
    <div class="media-body">
        <h5><a href="https://www.nbcnews.com/health/health-news/live-blog/2020-05-14-coronavirus-news-n1206776">Coronavirus live updates: Nearly 3 million more Americans file jobless claims</h5></a>
        <p>Around 2.98 million Americans filed for first-time unemployment claims last week, more than economist expectations of 2.7 million, and the eighth straight week of numbers in the millions. More than 36.5 million unemployment claims have been filed since the COVID-19 pandemic struck two months ago.</p>
        
      </div>
    </div>


  <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
